---
- name: Attendre que le verrou APT soit libéré
  shell: while fuser /var/lib/dpkg/lock-frontend >/dev/null 2>&1; do sleep 5; done;
  changed_when: false

- name: Réparer les installations interrompues
  shell: |
    dpkg --configure -a
    apt-get install -f -y
  ignore_errors: yes

- name: Désactiver le Swap
  shell: |
    swapoff -a
    sed -i '/\sswap\s/ s/^\(.*\)$/#\1/g' /etc/fstab
  when: ansible_swaptotal_mb > 0

- name: Charger les modules noyau
  modprobe:
    name: "{{ item }}"
    state: present
  loop: [overlay, br_netfilter]

- name: Configurer le sysctl
  sysctl:
    name: "{{ item.key }}"
    value: "{{ item.value }}"
    state: present
    reload: yes
  loop:
    - { key: 'net.bridge.bridge-nf-call-iptables', value: '1' }
    - { key: 'net.ipv4.ip_forward', value: '1' }

- name: Configurer le dépôt Kubernetes (v1.29)
  shell: |
    mkdir -p /etc/apt/keyrings
    curl -fsSL https://pkgs.k8s.io/core:/stable:/v1.29/deb/Release.key | gpg --dearmor -o /etc/apt/keyrings/kubernetes-apt-keyring.gpg --yes
    echo "deb [signed-by=/etc/apt/keyrings/kubernetes-apt-keyring.gpg] https://pkgs.k8s.io/core:/stable:/v1.29/deb/ /" > /etc/apt/sources.list.d/kubernetes.list

- name: Installer Docker et K8s
  apt:
    name: [docker.io, kubelet, kubeadm, kubectl]
    state: present
    update_cache: yes

- name: Configurer Docker (Cgroup systemd)
  copy:
    dest: /etc/docker/daemon.json
    content: |
      {
        "exec-opts": ["native.cgroupdriver=systemd"],
        "log-driver": "json-file",
        "storage-driver": "overlay2"
      }

- name: Installer cri-dockerd
  block:
    - get_url:
        url: https://github.com/Mirantis/cri-dockerd/releases/download/v0.3.10/cri-dockerd_0.3.10.3-0.ubuntu-jammy_amd64.deb
        dest: /tmp/cri-dockerd.deb
    - apt:
        deb: /tmp/cri-dockerd.deb
        state: present
    - systemd:
        name: "{{ item }}"
        state: restarted
        enabled: yes
        daemon_reload: yes
      loop: [docker, cri-docker]

# --- SECTION MASTER ---
- name: Initialiser le Master
  command: >
    kubeadm init --pod-network-cidr={{ pod_network_cidr }} 
    --token={{ token }} 
    --cri-socket unix:///var/run/cri-dockerd.sock 
    --ignore-preflight-errors=all
  when: node_role == 'master'
  args:
    creates: /etc/kubernetes/admin.conf

- name: Configurer kubectl pour ubuntu
  file:
    path: /home/ubuntu/.kube
    state: directory
    owner: ubuntu
    group: ubuntu
  when: node_role == 'master'

- name: Copier le config kube
  copy:
    src: /etc/kubernetes/admin.conf
    dest: /home/ubuntu/.kube/config
    remote_src: yes
    owner: ubuntu
    group: ubuntu
  when: node_role == 'master'

- name: Installer le réseau Calico
  become: false
  command: kubectl apply -f https://raw.githubusercontent.com/projectcalico/calico/v3.27.0/manifests/calico.yaml
  when: node_role == 'master'

# --- SECTION WORKER ---
- name: Joindre le Cluster
  command: >
    kubeadm join {{ master_ip }}:6443 
    --token={{ token }} 
    --discovery-token-unsafe-skip-ca-verification 
    --cri-socket unix:///var/run/cri-dockerd.sock
  when: node_role == 'worker'
  args:
    creates: /etc/kubernetes/kubelet.conf
