---
- name: Disable SWAP (Kubernetes requirement)
  shell: |
    swapoff -a
  become: yes

- name: Disable SWAP in /etc/fstab (permanent)
  replace:
    path: /etc/fstab
    regexp: '^([^#].*?\sswap\s+.*)$'
    replace: '# \1'
  become: yes

- name: Install Docker and K8s dependencies
  apt:
    name: [docker.io, apt-transport-https, curl]
    state: present
    update_cache: yes
  become: yes

- name: Add K8s signing key and repo
  shell: |
    curl -fsSL https://pkgs.k8s.io/core:/stable:/v1.28/deb/Release.key | gpg --dearmor --yes -o /etc/apt/keyrings/kubernetes-apt-keyring.gpg
    echo 'deb [signed-by=/etc/apt/keyrings/kubernetes-apt-keyring.gpg] https://pkgs.k8s.io/core:/stable:/v1.28/deb/ /' > /etc/apt/sources.list.d/kubernetes.list
  args:
    creates: /etc/apt/sources.list.d/kubernetes.list
  become: yes

- name: Install K8s binaries
  apt:
    name: [kubelet, kubeadm, kubectl]
    state: present
    update_cache: yes
  become: yes

# --- PRÉREQUIS RÉSEAU (Doivent être AVANT kubeadm init) ---
- name: Load br_netfilter module
  modprobe:
    name: br_netfilter
    state: present
  become: yes

- name: Enable bridge-nf-call-iptables
  sysctl:
    name: net.bridge.bridge-nf-call-iptables
    value: '1'
    state: present
  become: yes

# --- PARTIE MASTER ---
- name: Initialize Master Node
  command: kubeadm init --pod-network-cidr=10.244.0.0/16
  when: k8s_role == 'master'
  args:
    creates: /etc/kubernetes/admin.conf
  become: yes

- name: Setup Kubeconfig for current user
  shell: |
    # Utilisation de $USER pour s'adapter à la machine
    mkdir -p /home/$USER/.kube
    cp -i /etc/kubernetes/admin.conf /home/$USER/.kube/config
    chown $USER:$USER /home/$USER/.kube/config
  when: k8s_role == 'master'
  become: yes

- name: Install Flannel Network Plugin
  become: yes
  become_user: "{{ ansible_user }}"
  command: kubectl apply -f https://raw.githubusercontent.com/flannel-io/flannel/master/Documentation/kube-flannel.yml
  when: k8s_role == 'master'
